@import 'tailwindcss';

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* src/index.css or globals.css */
.custom-gradient-text {
  background: linear-gradient(to right, #60a5fa, #c084fc, #f472b6);
  -webkit-background-clip: text;
  color: transparent;
}
